<!--Aqui vai ser a lista de presença dos alunos durante o semestre-->

<!DOCTYPE html>
<html lang="pr_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas</title>
</head>
<body>
  <header class="cabecalho">
    <nav class="menu-navegacao">
      <a href="#"><div class="icon circle-icon">perfil</div></a>
      <a href="{% url 'diario' %}"><div class="icon">diario</div></a>
    </nav>
  </header>

  <section style="background-color: aquamarine;">
    
    <div style="background-color: rgb(0, 254, 169);">
      
      <h1>Lançar Aulas e Faltas</h1>
      <h3>Período Letivo: </h3>
      <h3>Turma: </h3>

      <a href="{% url 'aulas' %}">Exibir Conteúdos</a> | <a href="{% url 'frequencia' %}">Exibir Lista de Frequência</a>
      
    </div>

    <form method="POST">
      
      <label for="data">Data da Aula:</label>
      <input type="date" name="data" id="data" required>

      <table border="1">
        <thead>
          <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Presença</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>aaa</td>
            <td>aaa</td>
            <td>
              <input type="checkbox" name="presenca_{{ aluno.id }}" value="1">
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit">Salvar Frequência</button>
    </form>
  </section>

</body>
</html>