<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrículas - ECLASS</title>
    <link rel="stylesheet" href="{% static 'css/inscricao.css' %}">
</head>

<body>

    <!-- Header -->
    <header class="header">
        <div class="logo"><img src="{% static 'img/eclass_logo2.png' %}"></div>
        <nav class="navbar">
            <a href="{% url 'pagInicial' %}">Início</a>
            <a href="{% url 'inscricao' %}">Matrículas</a>
        </nav>
        <a class="btn" href="{% url 'login' %}">Área do Professor</a>
    </header>

    <!-- Banner com informação -->
    <section class="banner">
        <h1><span class="text-banner">MATRÍCULAS</span></h1>
        <p class="descricao-formulario">
            Este formulário destina-se a alunos que desejam participar do processo seletivo do ECLASS como <i>Egresso</i>, <i>Semestre 1</i> ou realizar o <i>teste de nivelamento</i>.<br><br>

            Para se inscrever, é preciso ter <b>concluído o Ensino Médio</b>. Leia e complete as informações com atenção, pois as respostas já serão usadas no seu processo seletivo.<br><br>

            <b>Sobre o formulário:</b><br>
            Neste formulário estão as turmas <i>S1 (Manhã e Tarde)</i>, <i>Teste de Nivelamento</i> e inscrição de alunos <i>Egressos</i>. Marque a alternativa na qual se enquadra para ser direcionado ao seu respectivo formulário.<br><br>

            <b>Aulas:</b><br>
            As aulas do ECLASS serão realizadas <i>presencialmente</i>, no <b>Campus Multi-institucional Humberto Teixeira</b>, em Iguatu.<br><br>

            <b>Processo seletivo:</b><br>
            O processo seletivo compreenderá duas fases:<br>
            a) Categoria do participante e documentação correta.<br>
            b) Motivação para participar do curso.<br><br>

            <b>Resultado:</b><br>
            O resultado será divulgado nas redes sociais do ECLASS.<br><br>

            <b>Outras informações:</b><br>
            Após o resultado, os alunos receberão por e-mail todas as informações importantes sobre o curso, incluindo formas de avaliação, datas, material, regimento e mais.
        </p>
        <h2 class="titulo-inscricao"><span class="detail-form">INSCRIÇÃO</span></h2>
        
        <form class="formulario-inscricao" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ inscricao_form.as_p }}
            <input type="submit" value="Enviar" class="botao-enviar">
        </form>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-section logo-footer">
            <img src="{% static 'img/eclass_logo.png' %}" alt="Logo Eclass">
        </div>

        <div class="footer-section contato">
            <h3>CONTATO</h3>
            <p>+55 88 12345-6789</p>
            <p>eclass@uece.br</p>

            <div class="divider"></div>

            <p>UECE/FECLI - Campus Iguatu</p>
            <p>Av. Dário Rabelo - Sete de Setembro,<br> Iguatu - CE</p>

            <div class="divider"></div>

            <a href="https://www.instagram.com/eclass.igt/" target="_blank" class="social-link">
                <img src="{% static 'img/ig_logo.png' %}" alt="Instagram">
                eclass.igt
            </a>
        </div>

        <div class="footer-section informacoes">
            <h3>INFORMAÇÕES</h3>
            <ul>
                <li><a href="{% url 'pagInicial' %}">Início</a></li>
                <li><a href="{% url 'inscricao' %}">Matrículas</a></li>
                <li><a href="{% url 'login' %}">Área do Professor</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; ECLASS 2025. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>
