<!DOCTYPE html>
{% load static %}
<html lang="PT_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Nível</title>
    <link href="{% static 'css/testeNivel.css' %}" rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="logo"><img src="{% static 'img/eclass_logo2.png' %}"></div>
        <nav class="navbar">
            <a href="{% url 'pagInicial' %}">Início</a>
            <a href="{% url 'inscricao' %}">Matrículas</a>
        </nav>
        <a class="btn" href="{% url 'login' %}">Área do Professor</a>
    </header>

    <!-- Informações e inscrição -->
    <section class="banner">
        <h1><span class="text-banner">TESTE DE <span class="detail-banner">NÍVEL</span></span></h1>
        <p class="descricao-teste">
            <b>Exame de conversação em língua inglesa: Teste de Nivelamento</b></br>

            <b>Este formulário destina-se a candidatos que desejam ingressar no ECLASS por meio do Teste de Nivelamento.</b></br>
            LEIA com atenção e preencha os campos abaixo, envie os anexos e documentos solicitados para finalizar sua inscrição.</br></br>
            
            - O Teste de Nivelamento consistirá em uma entrevista em língua inglesa com duração mínima de 10 min e máxima de 20 min.</br></br>

            - O número de vagas é ofertado por turma, como há um limite de vagas, a inscrição é feita por ordem de inscritos.</br></br>

            - Os inscritos que não conseguirem a vaga no momento, serão alocados na lista de espera, 
            podendo ser chamados no caso da ausência de confirmação de outro candidato dentro das vagas.</br></br>

            - Candidatos que foram reprovados no semestre anterior não estão aptos para realizar o teste de nivelamento para um semestre 
            subsequente ao da reprovação e terão sua inscrição indeferida.</br></br>

            - Os candidatos serão avaliados através dos critérios de Communication interaction
            (interação comunicativa), Accuracy (correção gramatical), Vocabulary (vocabulário),
            Fluency (uência), e Pronunciation (pronúncia), observando os parâmetros do Quadro
            Comum Europeu de Referência para Línguas (CEF) para cada nível.</br></br>

            - Os horários das entrevistas serão publicados em nossas redes sociais, estas ocorrerão de forma remota no período  da manhã ou tarde (Google Meet). 
            Os horários exatos da entrevista serão informados aos candidatos para o e-mail fornecido neste formulário, 
            por isso fique atento a sua caixa de mensagens e as redes sociais do ECLASS.</br></br>

            A participação na prova do Teste de Nivelamento deve ser confirmada pelo candidato(a) por meio do formulário Google Forms enviado no mesmo e-mail.</br></br>

            - O ECLASS não se responsabiliza por problemas ou erros no e-mail informado pelo
            candidato. Por isso, o candidato deve informar o email e o número de telefone com
            cuidado e atenção no formulário.</br></br>

            - Os candidatos que NÃO confirmarem presença na prova até o dia seguinte ao envio do formulário para participação via meet 
            PERDERÃO O DIREITO À REALIZAÇÃO DA PROVA e será chamado o próximo candidato na ordem da lista de espera.</br></br>

            - Os candidatos na LISTA DE ESPERA devem estar atentos ao e-mail informado no ato de inscrição para confirmarem 
            sua disponibilidade para realizar a prova na data e horário divulgados em nossas redes sociais.</br></br>

            - O ECLASS não se responsabiliza por não confirmações para participação no Teste de
            Nivelamento pelo candidato, sendo este o único responsável por confirmar sua participação na prova.</br></br>

            - As entrevistas acontecerão de forma remota, por meio da plataforma Google Meet.</br></br>

            - Os links das entrevistas serão enviados precisamente 10 minutos antes do início
            programado para cada entrevista. O candidato deve entrar na sala logo após o
            recebimento do link e poderá testar as condições de som e imagem.
            Durante toda a entrevista, o candidato deverá se manter com a CÂMERA ABERTA e
            direcionada para si.</br></br>

            - NÃO é permitido o uso de nenhum recurso de consulta durante a entrevista.</br></br>

            - O ECLASS não se responsabiliza por problemas na conexão, microfone ou câmera que
            possam vir a ocorrer durante a entrevista.</br></br>

            - O candidato deve escolher a turma e nível para o qual deseja concorrer. No entanto, o
            avaliador poderá alocar o candidato no nível correspondente aquele da sua performance
            na prova, podendo corresponder a um nível superior ou inferior ao escolhido pelo
            candidato.</br></br>

            - As aulas do ECLASS acontecem presencialmente no Campus Multi-Institucional
            Humberto Teixeira.</br></br>

            - O resultado da entrevista será divulgado no site da UECE/FECLI (www.uece.br/fecli)
            e no link na bio do Instagram do Eclass (@eclass.igt), e será enviado
            para o e-mail dos candidatos aprovados informado neste formulário. </br></br>

            - Os alunos aprovados no Teste de Nivelamento estarão automaticamente matriculados na
            turma em que tiverem o nível aprovado.</br></br>

            - Os aprovados receberão um informativo do curso via e-mail com informações detalhadas sobre o cronograma das aulas e o regulamento do curso, 
            que deve ser lido atenciosamente.</br></br>

            - Alunos ausentes na prova do Teste de Nivelamento estarão automaticamente reprovados.</br></br>

            - Não há segunda chamada do Teste de Nivelamento.</br></br>

            Conteúdo Programático para a prova por nível:</br></br>

            SEMESTRE 03</br>
            - Talking about free time activities and hobbies;</br>
            - Tv shows and movies;</br>
            - Use of verb be (affirmative, negative and interrogative forms)</br>
            - Simple present (Do/does/Don't/Doesn't).</br>
            - There to be (There is/ There are/Are there/Is there/There isn't/There aren't);</br>
            - Describing your neighborhood;</br>
            - Telling the time;</br>
            - Days of the week;</br>
            - Time expressions for daily routines;</br>
            - Frequency adverbs;</br>
            - Describing the weather, Seasons and weathers;</br>
            - Adjectives before nouns;</br>
            - Present continuous;</br>
            - Imperatives;</br>
            - Sports and exercises with play, go, do;</br>
            - Talking about Clothes and accessories;</br>
            - How much for prices;</br>
            - Like to, want to, need to, have to;</br>
            - Shopping expressions;</br>
            - This/that, These/those;</br>
            - Colors and prices.</br></br>

            SEMESTRE 05</br>
            - Simple present and present of be;</br>
            - Present continuous;</br>
            - Imperatives;</br>
            - Uses of Too and Either;</br>
            - Talking about habits and things in common;</br>
            - Expression Actually in conversations;</br>
            - Leisure time;</br>
            - Types of music;</br>
            - How much for prices;</br>
            - Like to, want to, need to, have to;</br>
            - Shopping expressions;</br>
            - This/that, These/those;</br>
            - Verb forms after can/can't, like, love, and prepositions;</br>
            - Use of Everybody and Nobody;</br>
            - Use Really/ Not Really to make statements stronger/softer;</br>
            - Object pronouns;</br>
            - Talking about exercises and how to stay healthy;</br>
            - Simple present x Present continuous;</br>
            - Joining clauses with If and When;</br>
            - Future with be going to and Present continuous for the future;</br>
            - Indirect objects and Indirect object pronouns;</br>
            - Talk about birthdays and celebrations;</br>
            - Simple past: regular and irregular verbs;</br>
            - Time expressions for the past;</br>
            - Simple past of be in yes-no questions and short answers;</br>
            - Simple past information questions.</br></br>

            SEMESTRE 06</br>
            - Time expressions for the past;</br>
            - Talk about growing up and your family background using the simple past;</br>
            - Talk about school subjects;</br>
            - To be born;</br>
            - General and specific use of determiners;</br>
            - Ask and give for directions;</br>
            - There to be (There is/ There are/Are there/Is there/There isn't/There aren't);</br>
            - Places in town;</br>
            - Location expressions;</br>
            - Pronouns one and ones;</br>
            - Offers and requests with can and could;</br>
            - Infinitives for reasons;</br>
            - Give opinion using It's + adjective + to;</br>
            - Things to do before a trip;</br>
            - Ways to give advice and make suggestions with should, could, need to, why don't you,
            etc;</br>
            - Whose and possessive pronouns;</br>
            - Order of adjectives;</br>
            - Pronouns one and ones;</br>
            - Places in your home and home furnishings;</br>
            - Past continuous statements and questions;</br>
            - Parts of the body;</br>
            - Injuries;</br>
            - Tell anecdotes and talk about accidents;</br>
            - Reflexive pronouns;</br>
            - Object pronouns;</br>
            - Talking about exercises and how to stay healthy;</br>
            - Simple present x Present continuous;</br>
            - Joining clauses with If and When;</br>
            - Future with be going to and Present continuous for the future;</br>
            - Indirect objects and Indirect object pronouns;</br></br>
        </p>

        <div class="choice">
        
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Escolha o nível para o qual deseja realizar o teste </p>
                <div class="form">
                    <div class="form-body">
                        {% for field in form %}
                        <div class="form-h">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            Turmas disponiveis
                            {{ field }}
                            {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                            {% endif %}
                            {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <button type="submit">
                    <i></i> Enviar
                </button>
            </form>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-section logo-footer">
            <img src="{% static 'img/eclass_logo.png' %}" alt="Logo Eclass">
        </div>

        <div class="footer-section contato">
            <h3>CONTATO</h3>
            <p>+55 88 12345-6789</p>
            <p>eclass@uece.br</p>

            <div class="divider"></div>

            <p>UECE/FECLI - Campus Iguatu</p>
            <p>Av. Dário Rabelo - Sete de Setembro,<br> Iguatu - CE</p>

            <div class="divider"></div>

            <a href="https://www.instagram.com/eclass.igt/" target="_blank" class="social-link">
                <img src="{% static 'img/ig_logo.png' %}" alt="Instagram">
                eclass.igt
            </a>
        </div>

        <div class="footer-section informacoes">
            <h3>INFORMAÇÕES</h3>
            <ul>
                <li><a href="{% url 'pagInicial' %}">Início</a></li>
                <li><a href="{% url 'inscricao' %}">Matrículas</a></li>
                <li><a href="{% url 'login' %}">Área do Professor</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; ECLASS 2025. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>