<!DOCTYPE html>
<html lang="PT_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Professor</title>
</head>
<body>
    <nav>
        <a href="#"><div class="icon circle-icon">perfil</div></a>
        <a href="{% url 'diario' %}"><div class="icon">diario</div></a>
    </nav>


    <div class="content">
        <div class="item">
            <a href="{% url 'diario' %}"><div class="icon"></div></a>
            icon <span>DIÁRIOS</span>
        </div>
    </div>
</body>
</html>