<!DOCTYPE html>
{% load static %}
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Média</title>
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <a href="{% url 'pagInicial' %}">
            <img src="{% static 'img/eclass_logo3.png' %}" alt="Eclass">
        </a>

        <div class="nav-icon">
            <a href="{% url 'pagProf' %}">
                <img src="{% static 'img/home_icon_alt.png' %}" alt="Home">
            </a>
            <a href="{% url 'diario' %}">
                <img src="{% static 'img/diario_icon_alt.png' %}" alt="Diário">
            </a>
        </div>
    </header>
    
    <!-- Médias -->
    <section>
        <div>
            <h2>Lançar Média</h2>
            <h3>Período Letivo: 2025.1 </h3> <!-- Informa o período letivo do historico de aulas -->
            <h3>Turma: S6 T2 </h3> <!-- Informa o semestre e a turma a qual pertece o historico de aulas -->
            <h3>Etapa: </h3> <!-- Informa a etapa da prova - Mid ou Final -->
        </div>

        <!-- Tabela informando as médias -->
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Matrícula</th>
                    <th rowspan="2">Nome</th>
                    <th colspan="3">Escrita</th>
                    <th colspan="3">Oral</th>
                    <th rowspan="2">Observações</th>
                </tr>
                <tr>
                    <th>Writing</th>
                    <th>Use of English</th>
                    <th>Total</th>
                    <th>Speaking</th>
                    <th>Listening</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>04/05/2025</td>
                </tr>
                <tr>
                    <td>********</td>
                    <td>***************</td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="text" size="15"></td>
                </tr>
                <tr>
                    <td>********</td>
                    <td>***************</td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="text" size="15"></td>
                </tr>
                <tr>
                    <td>********</td>
                    <td>***************</td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="text" size="15"></td>
                </tr>
                <tr>
                    <td>********</td>
                    <td>***************</td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5"></td>
                    <td><input type="number" size="5" readonly></td>
                    <td><input type="text" size="15"></td>
                </tr>
            </tbody>
        </table></br>

        <button type="button" class="button">Editar</button>
        <button type="button" class="button">Salvar</button>
        <button type="button" class="button">Enviar</button>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-bottom">
        © 2024 E-Class | Todos os direitos reservados
        </div>
    </footer>
</body>
</html>