<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário de Professores</title>
</head>
<body>

    <nav>
        <a href="">perfil</a>
    </nav>
    
    <main class="container">
        <!-- Informações gerais -->
        <section class="periodo-info">
            <div>
                <h4>Lançar aulas e faltas</h4>
                <strong>Período Letivo:</strong> 
                <strong>Turma:</strong>
                <strong>Meu acesso:</strong>

                <a href="">Exibir Aulas</a>
                <a href="">Exibir Faltas dos Alunos</a>


                
            </div>
        </section>
        
        <!--Tabela com historico de conteudos-->
        <section class="ultimos-conteudos">
            <h3>Últimos conteúdos lançados</h3>
            <ul>
                <li>[16/02/2020] - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>[20/02/2020] - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>[25/02/2020] - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>[05/03/2020] - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>[10/03/2020] - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
        </section>
        
        <!--Historico dos conteudos ministrados-->
        <section class="tabela-conteudos">
            <table>
                <thead>
                    <tr>
                        <th>Data:</th>
                        <th>Conteúdo:</th>
                        <th>Aulas:</th>
                        <th>Editar/Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>16/02/2020</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>4</td>
                        <td>[icones]</td>
                    </tr>
                    <tr>
                        <td>20/02/2020</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>4</td>
                        <td>[icones]</td>
                    </tr>
                    <tr>
                        <td>25/02/2020</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>4</td>
                        <td>[icones]</td>
                    </tr>
                    <tr>
                        <td>05/03/2020</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>4</td>
                        <td>[icones]</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>