<!DOCTYPE html>
{% load static %}
{% load dict_filters %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <link rel="stylesheet" href="{% static 'css/notas.css' %}">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/extenda-trial">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <a href="{% url 'pagInicial' %}">
            <img src="{% static 'img/eclass_logo3.png' %}" alt="Eclass">
        </a>

        <div class="nav-icon">
            <a href="{% url 'pagProf' %}">
                <img src="{% static 'img/home_icon_alt.png' %}" alt="Home">
            </a>
            <a href="{% url 'diario' %}">
                <img src="{% static 'img/diario_icon_alt.png' %}" alt="Diário">
            </a>
        </div>
    </header>

    <section>
        <div>
            <h1>Lançar Notas</h1>
            <h3>Período Letivo: {{turma.semestre_atual}} </h3> <!---Informa o período letivo do historico de aulas-->
            <h3>Turma: S{{turma.semestre_letivo}} T{{turma.numero_turma}} {{turma.turno}} </h3> <!--Informa o semestre e a turma a qual pertece o historico de aulas-->
            <h3 id="etapa" name="etapa">Etapa: {{provas.etapa}}</h3> <!--Informa a etapa da prova - Mid ou Final - -->

        </div>

        <p class="alert">AS NOTAS DEVEM SER INSERIDAS DE 0 A 100</p>

        <table>
            <thead>
                <tr>
                    <th>MATRÍCULA</th>
                    <th>NOME</th>
                    <th>NOTA</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                    {% for aluno in alunos_turma %}
                    <tr id="linha-{{ aluno.matricula }}" class="linha" >
                        <td class="matricula"> {{ aluno.matricula }}</td>
                        <td class="nome">{{ aluno.nome_completo }}</td>
                        <td
                            type="number"
                            class="nota"
                            name="nota_{{ aluno.matricula }}">

                        {% with alunos_provas_dicts|get:aluno.matricula as nota %}
                            {% if nota is not None %}
                            {{ alunos_provas_dicts|get:aluno.matricula }}
                            {% else %}
                            <span style="color: rgb(235, 14, 14);">Nota não registrada</span>
                            {% endif %}
                        {% endwith %}

                        </td>
                    
                      <td>
                        <button onclick="editarLinha({{ aluno.matricula }})">Editar</button>
                        <button onclick="cancelarEdicao({{ aluno.matricula }})" style="display:none;">Cancelar</button>
                        <button onclick="salvarNota({{provas.id_prova}}, {{provas.turma_id}}, {{ aluno.matricula }})" style="display:none;">Salvar</button>

                      </td>
                    

                    {% endfor %}     
  
            </tbody>
        </table>
    </tr>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-bottom">
        © 2024 E-Class | Todos os direitos reservados
        </div>
    </footer>

</body>

    <script>

        //Limita a nota para 100
        document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('input[type=text]').forEach(input => {
            input.addEventListener('input', () => {
            let val = input.value;
            if (val === '') return;
            val = parseInt(val);
            if (isNaN(val)) {
                input.value = '';
                return;
            }
            if (val > 100) input.value = 100;
            else if (val < 0) input.value = 0;
            });
        });
        });

    </script>

<script>
    const backups = {};
        // Função CSRF
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
            
    function salvarNota(id_prova, id_turma, aluno_id) {
        const dados = [];

        const linha = document.getElementById(`linha-${aluno_id}`);
        const nota = linha.querySelector(".nota input").value;
        const matricula = linha.querySelector(".matricula").textContent.trim();

        // Substituir inputs por texto
        linha.querySelector(".nota").innerHTML = `${nota}`;

        dados.push({
           nota: nota,
            aluno_id: matricula,
            prova_id: id_prova,
            turma_id: id_turma
            });

            console.log(dados);
      

        fetch("/pagProf/midTerm/salvar_nota/", {
        method: "POST",
        headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"), 
        },
        body: JSON.stringify({
            dados: dados,
        }),
    })
        .then(response => {
        if (!response.ok) {
            throw new Error("Erro ao salvar");
        }
        return response.json();
        })
        .then(data => {
        console.log("Salvo com sucesso!", data);
        })
        .catch(error => {
        alert("Erro ao salvar no banco.");
        console.error(error);
        });
        
        // Mostrar/ocultar botões
        
        linha.querySelector('button[onclick^="cancelarEdicao"]').style.display = "none";
        linha.querySelector('button[onclick^="salvarNota"]').style.display = "none";
        linha.querySelector('button[onclick^="editarLinha"]').style.display = "inline";
        
    }

    function cancelarEdicao(id_aluno) {

        const linha = document.getElementById(`linha-${id_aluno}`);
       
        linha.querySelector(".nota").textContent = backups[id_aluno].valor;

        // Mostrar/ocultar botões
        
        linha.querySelector('button[onclick^="cancelarEdicao"]').style.display = "none";
        linha.querySelector('button[onclick^="salvarNota"]').style.display = "none";
        linha.querySelector('button[onclick^="editarLinha"]').style.display = "inline";
}
    function editarLinha(id_aluno) {
        
        const linha = document.getElementById(`linha-${id_aluno}`);
        
        const nota = linha.querySelector(".nota");
        console.log(nota);
        const valorNota = nota.textContent.trim();

        backups[id_aluno] = {
            valor: valorNota
        };
      
        // Substituir texto por inputs
        nota.innerHTML = `<input type="text" value="${valorNota}">`;        
        
        // Mostrar/ocultar botões 
    
        linha.querySelector('button[onclick^="editarLinha"]').style.display = "none";
        linha.querySelector('button[onclick^="salvarNota"]').style.display = "inline";
        linha.querySelector('button[onclick^="cancelarEdicao"]').style.display = "inline";

      }
</script>


</html>
