
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Notas</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="menu-navegacao">
            <a href="#"><div class="icon circle-icon">perfil</div></a>
            <a href="{% url 'diario' %}"><div class="icon">diario</div></a>
        </nav>
    </header>

    <p><b><font color="red">AS NOTAS DEVEM SER INSERIDAS DE 0 A 100, SEM CASAS DECIMAIS</font></b></p>

    <section style="background-color: aquamarine;">
        <div style="background-color: rgb(0, 254, 169);">
            <h2>Lançar Notas e Média</h2>
            <h3>Avaliação</h3>
            <h3>Período Letivo: {{turma.semestre_atual}} </h3> <!---Informa o período letivo do historico de aulas-->
            <h3>Turma: S{{turma.semestre_letivo}} T{{turma.numero_turma}} {{turma.turno}} </h3> <!--Informa o semestre e a turma a qual pertece o historico de aulas-->
            <h3>Etapa: Final Exam</h3> <!--Informa a etapa da prova - Mid ou Final - -->
        </div>

        <table border="1">
            <thead>
                <tr>
                    <th>MATRÍCULA</th>
                    <th>NOME</th>
                    <th>NOTA</th>
                    <th>OBSERVAÇÕES</th>
                </tr>
            </thead>
            <tbody>
                    {% for aluno in alunos_turma %}
                    <tr>
                        <td>{{ aluno.matricula }}</td>
                        <td>{{ aluno.nome_completo }}</td>
                        <td><input type="number" min="0" max="100" step="1"></td>
                        <td><input type="text" size="30"></td>
                    {% endfor %}                
                    </tr>
            </tbody>
        </table>
        <button type="button" onclick="salvarPresencas({{turma.id_turma}})">Salvar</button>

    </section>
</body>
</html>
