<!DOCTYPE html>
<html lang="PT_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário</title>
</head>
<body>
    <header class="cabecalho">
    <nav class="menu-navegacao">
      <a href="#"><div class="icon circle-icon">perfil</div></a>
      <a href="{% url 'diario' %}"><div class="icon">diario</div></a>
    </nav>
  </header>
  
  
  <section class="diarios" style="background-color: aquamarine;">
    <h2>Meus Diários</h2>
    
    <table border="1">
      <thead>
        <tr>
          <th colspan="2">Diário</th>
          <th>Qtd. Alunos</th>
          <th>Opções</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2025</td>
          <td>T6 s1</td>
          <td>26</td>
          <td>
            <a href="{% url 'aulas' %}">Aulas</a>
            <a>Avaliações</a>
            <a href="{% url 'midTerm' %}">Mid Term</a>
            
          </td>
        </tr>
      </tbody>
    </table>
  </section>
      
</body>
</html>