<!DOCTYPE html>
<html lang="PT_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário</title>
</head>
<body>
    <nav>
        <p>perfil</p>
        <p>sair</p>
    </nav>
      
      <section class="diarios">
        <h2>Meus Diários</h2>
      
        <div class="opcoes">
            <p><strong>Etapas</strong></p>
            <p>
              Avaliações:
              <a href="{% url 'midTerm' %}">Mid</a>
              <a href="">Final</a>
            </p>
          </div>
          
      
        <div class="diario">
          <div class="ano">2023.2</div>
          <!-- Conteúdo similar -->
        </div>
      </section>
      
</body>
</html>