<!DOCTYPE html>
<html lang="PT_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário</title>
</head>
<body>
    <header class="cabecalho">
    <nav class="menu-navegacao">
      <a href="#"><div class="icon circle-icon">perfil</div></a>
      <a href="{% url 'diario' %}"><div class="icon">diario</div></a>
    </nav>
  </header>
  
  
  <section class="diarios" style="background-color: aquamarine;">
    <h2>Meus Diários</h2>
    
    <table border="1">
      <thead>
        <tr>
          <th colspan="2">Diário</th>
          <th>Qtd. Alunos</th>
          <th>Opções</th>

        </tr>
      </thead>
      <tbody>
        {% for turma in turmas %} 
        <tr>
          <td>{{ turma.semestre_atual}}  S{{turma.semestre_letivo }}</td>
          <td>{{ turma.turno }}</td>
          <td>{{ turma.num_vagas }}</td>
  
        </tr>
        {% empty %}
        <tr><td colspan="3">Nenhuma turma registrada.</td></tr>
        {% endfor %}
        
        </tr>
    </tbody>
  </table>
</section>

      
</body>
</html>